name: Terraform Deploy

on:
  push:
    branches: [ "master" ]
#on:
#  workflow_run:
#    workflows: [ "Build and Push to GCP" ] # Must match the 'name' in upload_docker_image.yml
#    types:
#      - completed
env:
  PROJECT_ID: "spring-boot-ci-cd-deployment"
  REGION: "europe-west3"
  REPOSITORY: "my-docker-repo"
  IMAGE_NAME: "spring-boot-tf-gcp-sample"

jobs:
  terraform:
    runs-on: ubuntu-latest
    # if: ${{ github.env == 'success' }}
    # if: ${{ github.event.workflow_run.conclusion == 'success' }}
    defaults:
      run:
        working-directory: ./terraform
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - uses: actions/checkout@v4

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: 'projects/587038327360/locations/global/workloadIdentityPools/github-pool-v4/providers/github-provider'
          service_account: 'terraform-sa@spring-boot-ci-cd-deployment.iam.gserviceaccount.com'

      - name: 'Set up Terraform'
        uses: hashicorp/setup-terraform@v3

      - name: 'Terraform Init'
        run: terraform init

#      - name: 'Terraform Plan'
#        run: terraform plan
#
#      - name: 'Terraform Apply'
#        run: terraform destroy --auto-approve
      #   env:
      #     TF_VAR_app_image_tag: "${{ github.sha }}"